body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* *{
    border:1px solid red;
} */

.nav-bar{
    display: inline-block;
    height: 8vh;
    width: 100vw;
    position: fixed;
    margin-top: 30px;
}

.nav-bar-logo-wrapper{
    display: inline-block;
    margin-left: 150px;
}

.nav-bar-logo{
    font-size: 32px;
    font-weight: bold;
}
.nav-bar-logo-base{
    display: block;
    font-size :12px;
    margin-left:110px;
    margin-top: -8px;
}

.nav-bar-links-wrapper{
    display: inline-block;
    position: relative;
    top: -20px;
    left: 50px;
}

.navlinks{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-left: 20px;
}
.section-1{
    height: 100vh;
    width: 60vh;
    z-index: 1;
    display: block;
}
.section-1-text-wrapper{
    position: relative;
    top: -250px;
    left: 200px;
    display: block;
    height: 150px;
    width: 300px;
    text-align: left;
}

.section-1-text{
    font-size: 55px;
    letter-spacing: 1px;
}

.section-1-gif{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.section-2{
    display: block;
    height: 100vh;
    width: 100vw;
    display: block;
    overflow: hidden;
    background: url(./dna-v22.png);
    background-size:150vw auto;
    background-position-y: 45%;
    background-position-x: 45%;
    background-repeat: no-repeat;
}

.section-2-img-wrapper img{
    height: 120vh;
    width: 120vw;
    display: block;
    object-fit: cover;
}

.section-2-img-wrapper .show{
    display:block;
}
.section-2-text-wrapper{
    position: relative;
    top: 50px;
    left: 100px;
    display: block;
    height: 500px;
    width: 350px;
    text-align: left;
    line-height: 22px;
}
.section-2-text{
    letter-spacing: 1px;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.section-2-text-last{
    font-size: 12px;
    font-weight: bold;
}
.section-3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:row;
    overflow: hidden;
    position:relative;
}

.section-3-img-wrapper{
    height: 100vh;
    width: 50vw;
    display: block;
}

.section-3-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    height:100%;
}

.section-3-right{
    display:flex;
    width:50%;
    height:100%;
    flex-direction:column;
    box-sizing:border-box;
    padding-right:100px;
}



.section-3-content-wrapper{
    position: relative;
    top:20%;
    display: block;
    height: 350px;
    width: auto;
    text-align:right;
}
.section-3-heading{
    color: #62967A;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.section-3-text-wrapper{
    margin-top: 20px;
}
/* .section-3-text-wrapper-2{

    margin-top: 20px;
} */

.section-3-text{
    display: block;
    letter-spacing: 1px;
    font-size: 14px;
}

.section-3-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #62967A;
    font-weight: bold;
    color: #62967A;
    margin-top: 20px;
}

.section-4{
    display: block;
    height: 100vh;
    width: 100vw;
}
.section-4-content-wrapper{
    position: relative;
    top: -500px;
    left: 150px;
    display: block;
    height: 350px;
    width: 350px;
    text-align: left;
    color: #fff;
}
.section-4-heading{
    font-size: 45px;
    letter-spacing: 3px;
    text-align: center;
}

.section-4-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
.section-4-text{
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
}

.section-4-img-wrapper img{
    height: 100vh;
    width: 100vw;
    display: none;
    object-fit: cover;
}

.section-4-img-wrapper .show{
    display:block;
}
.section-4-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}
.section-5{
    display: block;
    height: 110vh;
    width: 100vw;
    overflow: hidden;
}
.section-5-content-wrapper{
    position: relative;
    top: -550px;
    display: block;
    height: 600px;
    width: 500px;
    text-align: right;
    float: right;
    margin-right:100px;
}
.section-5-heading{
    color: #62867A;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.section-5-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
/* .section-5-text-wrapper-2{
    margin-top: 20px;
    line-height: 20px;
}
.section-5-text-wrapper-3{
    margin-top: 20px;
    line-height: 20px;
}
.section-5-text-wrapper-4{
    margin-top: 20px;
    line-height: 20px;
} */
.section-5-text{
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    color: #62967A;
}

.section-5-gif{
    height: 110vh;
    width: 100vw;
    object-fit: cover;
    /* max-width: 100%; */
}

.section-5-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #62967A;
    font-weight: bold;
    color: #62967A;
    margin-top: 20px;
}
.section-6{
    height: 110vh;
    width: 100vw;
}
.section-6-content-wrapper{
    position: relative;
    top: -500px;
    left: 150px;
    display: block;
    height: 600px;
    width: 500px;
    text-align: left;
    color: #fff;
}
.section-6-heading{
    font-size: 45px;
    letter-spacing: 3px;
    text-align: center;
}

.section-6-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
.section-6-text{
    display: block;
    letter-spacing: 1px;
}

.section-6-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}


.section-6-gif{
    height: 110vh;
    width: 100vw;
    object-fit: cover;
}
.section-7{
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.section-7-content-wrapper{
    position: relative;
    top: -500px;
    display: block;
    height: 300px;
    width: 350px;
    text-align: right;
    float: right;
    margin-right: 100px;
}
.section-7-heading{
    font-size: 45px;
    letter-spacing: 2px;
    text-align: right;
    color: #62967A;
}

.section-7-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
.section-7-text{
    display: block;
    letter-spacing: 1px;
    font-size: 14px;
    color: #62967A;
}

.section-7-image-wrapper img{
    height: 100vh;
    width: 100vw;
    display: none;
    object-fit: cover;
}

.section-7-image-wrapper .show{
    display:block;
}
.section-7-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #62967A;
    font-weight: bold;
    color: #62967A;
    margin-top: 20px;
}

.section-8{
    display: block;
    height: 100vh;
    width: 100vw;
}
.section-8-content-wrapper{
    position: relative;
    top: -500px;
    left: 100px;
    display: block;
    height: 300px;
    width: 400px;
    text-align: left;
}
.section-8-heading{
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
}

.section-8-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
/* .section-8-text-wrapper-2{
    margin-top: 20px;
    line-height: 20px;
} */
.section-8-text{
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: medium;
}

.section-8-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.section-9{
    height: 100vh;
    width: 100vw;
    background-color: powderblue;
    overflow: hidden;
}

.section-9-image-wrapper img{
    width:100vw;
    height:100vh;
    display: none;
    object-fit: cover;
}
.section-9-image-wrapper .show{
    display:block;
}
.section-9-content-wrapper{
    position: relative;
    top: -500px;
    display: block;
    height: 350px;
    width: 500px;
    text-align: right;
    float: right;
    margin-right: 100px;
}
.section-9-heading{
    font-size: 45px;
    letter-spacing: 3px;
    color: #fff;
}

.section-9-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
/* .section-9-text-wrapper-2{
    margin-top: 20px;
    line-height: 20px;
} */
.section-9-text{
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    color: #fff;
}
.section-9-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}
.section-10{
    height: 100vh;
    width: 100vw;
}
.section-10-content-wrapper{
    position: relative;
    top: -450px;
    left: 150px;
    display: block;
    height: 300px;
    width: 400px;
    text-align: left;
}
.section-10-heading{
    font-size: 45px;
    letter-spacing: 3px;
    display: block;
    color: #62967A;
}

.section-10-text-wrapper{
    margin-top: 20px;
    line-height: 20px;
}
/* .section-10-text-wrapper-2{
    margin-top: 20px;
    line-height: 20px;
} */
.section-10-text{
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
}
.section-10-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.section-10-know-more{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #62967A;
    font-weight: bold;
    color: #62967A;
    margin-top: 20px;
}
.section-11{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}
.section-11-image-wrapper{
    display: block;
    height: 100vh;
    width: 50vw;
    background-color: transparent;
}
.section-11-image{
    height: 400px;
    width: 250px;
    border-radius: 10px;
    display: block;
    margin: 50px auto 0 auto;

}
.section-11-heading-wrapper{
    margin-top: 100px;
    margin-left: 100px;
}
.section-11-image-wrapper-heading{
    display: block;
    font-size: 55px;
    color: darkgreen;
}
.section-11-content-wrapper{
    display: block;
    height: 100vh;
    width: 50vw;
    background-color: #A05CBF;
}
.section-11-content{
    display: block;
    height: 300px;
    width: 400px;
    text-align: right;
    margin: 300px auto 0 auto;
}
.section-11-content-heading{
    color: #fff;
    display: block;
}
.section-11-text-wrapper{
    margin-top: 20px;
}
.section-11-text{
    display: block;
    color: #fff;
}
.section-11-shop-now{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}
.section-11-prev{
    background-color: transparent;
    position: absolute;
    left: 5%;
    top: 50%;
}
.section-11-next{
    background-color: transparent;
    position: absolute;
    right: 5%;
    top: 50%;
}
.section-12{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.section-12-img-wrapper{
    position: relative;
    left: 1070px;
    display: block;
    height: 600px;
    width: 450px;
    overflow: hidden;

}

.section-12-img{
    height: 600px;
    width: 350px;
    transform: rotate(290deg);
    position: absolute;
    left: 180px;

}

.section-12-heading-wrapper{
    display: block;
    width: 380px;
    position: relative;
    top: -500px;
    left: 100px;
}
.section-12-heading{
    font-size: 45px;
    letter-spacing: 2px;
}

.section-12-content-wrapper-2-img{
    background-color: blue;
    display: inline-block;
    height: 200px;
    width: 150px;
    margin-left: 20px;
    border-radius: 10px;
}
.section-12-content-wrapper-1{
    display: block;
    height: 200px;
    width: 900px;
    position: relative;
    top: -450px;
    left: 300px;
}
.section-12-content-wrapper-2{
    display: inline-block;
    height: 200px;
    width: 1200px;
    position: relative;
    top: -350px;
    left: 100px;
}

.section-12-text, .section-12-text-wrapper-3-text{
    font-size:12px;
    font-weight: bold;
}
.section-12-text-wrapper-1{
    display: inline-block;
}
.section-12-text-wrapper-2{
    display: inline-block;
    margin-left: 50px;
}
.section-12-text-wrapper-3{
    margin-top: 30px;
    position: relative;
    left: -200px;
}

.section-12-text-wrapper-3-text{
    margin-left: 20px;
}
.section-12-logo{
    height: 50px;
    width: 50px;
    margin-left: 25px;
    margin-top:20px;
}
.section-13{
    height: 50vh;
    width: 100vw;
    position: relative;
}
/* .section-13-image-wrapper{
    background-color: red;
} */
.section-13-content-wrapper{
    position: absolute;
    top: 100px;
    left: 100px;
}
.section-13-heading{
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.section-13-text-wrapper{
    margin-top: 20px;
}
.section-13-text{
    display: block;
    letter-spacing: 1px;
}

.section-13-img{
    height: 50vh;
    width: 20vw;
    position: relative;
    left: 600px;
}

@media (min-width:320px) and (max-width:530px){
   .nav-bar-links-wrapper{
       display: none;
   }
   .nav-bar-logo-wrapper {
    display: inline-block;
    margin-left: 80%;
    z-index: 10000;
}
.section-1-gif{
    width: 200vw;
}
.section-1-text-wrapper{
    left: 50px;
}
/* section 2 */
.section-2-img-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-2-text{
    font-size: 10px;
}
.section-2-text-wrapper{
    left: 30px;
}
/* section 3 */
.section-3-img-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-3{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-3-content-wrapper{
    margin-right: 10px;
    width: 340px;
}
/* section 4 */
.section-4-img-wrapper img{
    height: 100vh;
    width: 200vw;
}
/* section 5 */
.section-5{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-5-gif{
    height: 110vh;
    width: 250vw;
    object-fit: cover;
    /* max-width: 100%; */
}
.section-5-heading{
    float: right;
}
.section-5-content-wrapper {
    position: relative;
    top: -620px;
    display: block;
    height: 600px;
    width: 200px;
    text-align: right;
    float: right;
    margin-right: 10px;
}
/* section 6 */
.section-6-gif{
    height: 100vh;
    width: 200vw;
}
.section-6-content-wrapper {
    position: relative;
    top: -380px;
    left: 50px;
    display: block;
    height: 350px;
    width: 300px;
    text-align: left;
    color: #fff;
}
/* section 7 */
.section-7{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-7-image-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-7-content-wrapper{
    width: 400px;
    margin-right: 15px;
}
/* section 8 */
.section-8{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-8-image-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-8-content-wrapper {
    position: relative;
    top: -500px;
    left: 10px;
    display: block;
    height: 300px;
    width: 180px;
    text-align: left;
}
/* section 9 */
.section-9{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-9-image-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-9-content-wrapper {
    position: relative;
    top: -350px;
    display: block;
    height: 350px;
    width: 400px;
    text-align: right;
    float: right;
    margin-right: 20px;
}
/* section 10 */
.section-10{
    display: block;
    height: 100vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-10-image-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-10-content-wrapper {
    position: relative;
    top: -380px;
    left: 20px;
    display: block;
    height: 300px;
    width: 300px;
    text-align: left;
}
/* section 11 */
.section-11{
    width: 200vw;
 }
.section-11-image-wrapper{
    width: 50%;
}
 .section-11-heading-wrapper{
     margin-left: 10px;
 }
 .section-11-content-wrapper {
    display: block;
    height: 100vh;
    position: absolute;
    left: 50%;
    width: 100vw;
    background-color: #A05CBF;
}
.section-11-content{
    /* background-color: #62967A; */
    margin-top: 150px;
    margin-right: 20px;
    font-size: 1.1rem;
    width: 320px;
}
.section-11-shop-now{
    /* background-color: #62967A; */
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
}
/* section 10 */
.section-12{
    display: block;
    height: 140vh;
    width: 200vw;
    display: block;
    overflow: hidden;
}
.section-12-image-wrapper img{
    height: 100vh;
    width: 200vw;
}
.section-12-text-wrapper-1 {
    position: relative;
    left: -260px;
}
.section-12-text-wrapper-2 {
    position: relative;
    left: -300px;
}
    .section-12-content-wrapper-2 {
        display: inline-block;
        height: 400px;
        width: 400px;
        position: relative;
        top: -300px;
        left: 150px;
    }
    /* section 13 */
    .section-13{
        width: 200vw;
    }
    .section-13-content-wrapper{
        position: absolute;
        top: 100px;
        left: 50px;
        width: 500px;
        /* background-color: brown; */
    }
    .section-13-img{
        height: 35vh;
        width: 40vw;
        position: relative;
        left: 500px;
        /* right: 0px; */
    }
    .section-13-image-wrapper{
        width: 0;
    }
}
@media (min-width:530px) and (max-width:800px){
    .nav-bar{
        display: flex;
    }
    .nav-bar-logo-wrapper{
        margin-left: 5%;
    }
    .nav-bar-links-wrapper{
        display: flex;
        top: 0px;
    }
    .navlinks{
        font-size: 1rem;
    }
    .section-1-gif{
        width: 123vw;
    }
    .section-1-text-wrapper{
        left: 50px;
        font-size: 3rem;
    }
    /* section 2 */
.section-2-img-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-2-text{
    font-size: 10px;
}
.section-2-text-wrapper{
    left: 30px;
}
/* section 3 */
.section-3-img-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-3{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-3-content-wrapper{
    margin-right: 10px;
    width: 340px;
}
/* section 4 */
.section-4-img-wrapper img{
    height: 100vh;
    width: 123vw;
}
/* section 5 */
.section-5{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-5-gif{
    height: 110vh;
    width: 140vw;
    object-fit: cover;
    /* max-width: 100%; */
}
.section-5-heading{
    float: right;
}
.section-5-content-wrapper {
    position: relative;
    top: -620px;
    display: block;
    height: 600px;
    width: 300px;
    text-align: right;
    float: right;
    margin-right: 10px;
}
/* section 6 */
.section-6-gif{
    height: 100vh;
    width: 123vw;
}
.section-6-content-wrapper {
    position: relative;
    top: -380px;
    left: 50px;
    display: block;
    height: 350px;
    width: 300px;
    text-align: left;
    color: #fff;
}
/* section 7 */
.section-7{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-7-image-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-7-content-wrapper{
    width: 400px;
    margin-right: 15px;
}
/* section 8 */
.section-8{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-8-image-wrapper img{
    height: 100vh;
    width: 130vw;
}
.section-8-content-wrapper {
    position: relative;
    top: -500px;
    left: 10px;
    display: block;
    height: 300px;
    width: 180px;
    text-align: left;
}
/* section 9 */
.section-9{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-9-image-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-9-content-wrapper {
    position: relative;
    top: -350px;
    display: block;
    height: 350px;
    width: 400px;
    text-align: right;
    float: right;
    margin-right: 20px;
}
/* section 10 */
.section-10{
    display: block;
    height: 100vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-10-image-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-10-content-wrapper {
    position: relative;
    top: -390px;
    left: 20px;
    display: block;
    height: 300px;
    width: 250px;
    text-align: left;
}
/* section 11 */
.section-11{
    width:123vw;
}
 .section-11-heading-wrapper{
     margin-left: 10px;
 }
 .section-11-content-wrapper {
    display: block;
    height: 100vh;
    position: absolute;
    left: 50%;
    width: 61.5vw;
    background-color: #A05CBF;
}
.section-11-content{
    /* background-color: #62967A; */
    margin-top: 200px;
    margin-right: 60px;
    width: 320px;
    /* display: none; */
}
.section-11-shop-now{
    /* background-color: #62967A; */
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
}
/* section 12 */
.section-12{
    display: block;
    height: 140vh;
    width: 123vw;
    display: block;
    overflow: hidden;
}
.section-12-image-wrapper img{
    height: 100vh;
    width: 123vw;
}
.section-12-text-wrapper-1 {
    position: relative;
    left: -260px;
}
.section-12-text-wrapper-2 {
    position: relative;
    left: -300px;
}
    .section-12-content-wrapper-2 {
        display: inline-block;
        height: 500px;
        width: 1000px;
        position: relative;
        top: -350px;
        left: 10px;
    }
     /* section 13 */
     .section-13{
        width: 123vw;
    }
    .section-13-content-wrapper{
        position: absolute;
        top: 100px;
        left: 50px;
        width: 500px;
        /* background-color: brown; */
    }
    .section-13-img{
        height: 35vh;
        width: 40vw;
        position: relative;
        left: 500px;
        /* right: 0px; */
    }
    .section-13-image-wrapper{
        width: 0;
    }
}

.outer-circle{
    width:45%;
    position:absolute;
    top:0px;
}

.inner-circle{
    width:30%;
    position:absolute;
    top:225px;
    margin-left:0px;
}

.center-circle{
    width:20%;
    position:absolute;
    top:310px;
    margin-left:0px;
}

#h{
    height:100vh;
}

@media only screen and (min-width:375px){
    .outer-circle{
        top:100px;
    }
    .inner-circle{
        top:175px;
    }

    .center-circle{
        top:230px;
    }
}
@media only screen and (min-width:768px){
    .outer-circle{
        top:80px;
    }
    .inner-circle{
        top:145px;
    }

    .center-circle{
        top:190px;
    }
}

@media only screen and (min-width:1024px){
    .outer-circle{
        top:80px;
    }
    .inner-circle{
        top:155px;
    }

    .center-circle{
        top:205px;
    }
}

@media only screen and (min-width:1200px){
    .outer-circle{
        top:80px;
    }
    .inner-circle{
        top:165px;
    }

    .center-circle{
        top:220px;
    }
}

@media only screen and (min-width:1440px){
    .outer-circle{
        top:40px;
    }
    .inner-circle{
        top:140px;
    }

    .center-circle{
        top:210px;
    }
}